header {
    width: 100%;
    height: 18%;
    top: 0px;
    right: 0px;
    left: 0px;
    border: solid;    
}

img#logo {
    max-height: 200px;
}

img#shoreline {
    max-height: 200px;
    width: 1000px;
}

#pageMenu {
    float: left;  
    padding: 8px;
    padding-bottom: 10px;
    border: 2px solid;
    margin: 5% 0 0 10%;
}

h3 {
    text-align: center;
    border: 2px solid;
}

section#overview {
  text-align: center;
  margin: 40px;
}

img#placeHolder {
  width: 900px;
  height: 400px;
  border: solid;
  margin-right: 40%;
  margin: 10px;
  float: right;
} 

form>a>button {
  padding: 19px;
  border-radius: 100px;
  margin: 8px;
  width: 80px;
}

section#bios {
  float: center;
  clear: both;
}

div.explanation {
  height: 300px;
  width: 500px;
  border: solid 2px;
  margin: 80px 10px 120px 40px;
  float: left;
}

section#explanations {
  clear: both;
  float: left;
  margin: 0px 10% 0px 10%
}

.bioBox {
    float:left;
    margin: 0 1.5%;
    width: 28%; 
    border: solid;
    padding: 5px;
    margin-bottom: 40px;

}

.bioPic {
    height: 80px;
    width: 100px;
    margin-left: 35%;
    margin-right: 35%;
  }

footer {
  width: 100%;
  text-align: center;
  clear:both;
}