header {
    position: fixed;
    width: 100%;
    height: 18%;
    top: 0px;
    right: 0px;
    left: 0px;
    border: solid;
}

img#logo {
    max-height: 200px;
}

img#shoreline {
    max-height: 200px;
}

#pageMenu {
    float: left;  
    padding: 12px;
    padding-bottom: 20px;
    border: 2px solid;
}


form>button {
  padding: 20px;
  border-radius: 100px;
  margin: 10px;
  width: 80px;
}

#propertyPictures {
    float: right;
}

#explanations {
    margin: 10px auto 10px auto
}

section#bios {
  float: center;
}

div.explanation {
  height: 200px;
  width: 100px;
  border: solid 2px;
  margin: 10px;
}

section#explanations {
  clear: both;
  float: left;
}

 .bioBox {
    float:left;
    margin: 0 1.5%;
    width: 30%;
}
.bioPic {
  float: center;
  height: 80px;
  width: 80px;
}