figure#brand {
    height: 100px;  
}

#logo {
    width: 20%;
    height: 100%;
}

#shoreline {
    width: 80%;
    height: 100%;
}

#pageMenu {
    float: left;
}

#propertyPictures {
    float: right;
}

#explanations {
    margin: 10px auto 10px auto
}