figure#brand {
    height: 200px;  
    width: 100%;
}

#logo {
    width: 20%;
    height: 100%;
}

#shoreline {
    width: 80%;
    height: 100%;
}

#pageMenu {
    float: left;
}

#propertyPictures {
    float: right;
}

#explanations {
    margin: 10px auto 10px auto
}

.bioPic {
  float: center;
  height: 20px;
  width: 20px;
}