figure#brand {
    height: 200px;  
    width: 100%;
}

#logo {
    width: 20%;
    height: 100%;
}

#shoreline {
    width: 80%;
    height: 200px;
}

#pageMenu {
    float: left;
    padding: 10px;
}

#propertyPictures {
    float: right;
}

#explanations {
    margin: 10px auto 10px auto
}

section#bios {
  float: center;
}

 .bioBox {
  width: 33%;
}
.bioPic {
  float: center;
  height: 20px;
  width: 20px;
}